.profile__add-button {
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    padding: 0;
    cursor: pointer;
    align-self: center;
}

.profile__add-button:hover {
    opacity: 60%;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    .profile__add-button {
        justify-self: center;
        min-width: 90px;
        min-height: 30px;
        background-size: 15px;
    }
}

@media screen and (max-width: 449px) {
    .profile__add-button {
        min-width: 282px;
        background-size: 16px;
        min-height: 50px;
    }
}